// 字体
$font10: 0.1rem; // 10px 极小标签
$font12: 0.12rem; // 12px 辅助文字
$font14: 0.14rem; // 14px 正文
$font16: 0.16rem; // 16px 按钮/标题
$font18: 0.18rem; // 18px 卡片标题
$font20: 0.2rem; // 20px 一级标题
$font24: 0.24rem; // 24px 数字大屏
$font28: 0.28rem; // 28px 运营大标题
$font32: 0.32rem; // 32px 弹窗标题
$font36: 0.36rem; // 36px 引导页
$font48: 0.48rem; // 48px 价格数字

// 圆角
$radius2: 0.02rem; // 2px  标签圆角
$radius4: 0.04rem; // 4px  按钮
$radius6: 0.06rem; // 6px  卡片
$radius8: 0.08rem; // 8px  大图
$radius12: 0.12rem; // 12px 弹窗
$radius16: 0.16rem; // 16px 大卡片
$radius32: 0.32rem;
$round: 50%; // 完全圆形
$radiusI: 100rem;
// 阴影
$shadow1: 0 0.02rem 0.04rem rgba(0, 0, 0, 0.04);
$shadow2: 0 0.04rem 0.08rem rgba(0, 0, 0, 0.08);
$shadow3: 0 0.08rem 0.16rem rgba(0, 0, 0, 0.12);
$shadow4: 0 0.16rem 0.32rem rgba(0, 0, 0, 0.16);
$shadowtop: 0 -0.04rem 0.08rem rgba(0, 0, 0, 0.06);
