$space0: 0rem; // 重置用
$space1: 0.01rem; // 1px  hairline
$space2: 0.02rem; // 2px  分割线
$space4: 0.04rem; // 4px  最小内间距
$space8: 0.08rem; // 8px  图标与文字
$space12: 0.12rem; // 12px 紧凑按钮
$space16: 0.16rem; // 16px 默认内间距
$space20: 0.2rem; // 20px 卡片间隙
$space24: 0.24rem; // 24px 列表项
$space32: 0.32rem; // 32px 区块之间
$space40: 0.4rem; // 40px 大卡片
$space48: 0.48rem; // 48px 底部工具栏
$space64: 0.64rem; // 64px 顶部 banner
