/* tools/mixins/responsive.scss */
@mixin bp-up($bp: $bpSm) {
  @media (min-width: #{$bp}px) {
    @content;
  }
}
@mixin bp-down($bp: $bpMd) {
  @media (max-width: #{$bp - 1}px) {
    @content;
  }
}
