// $primary: rgb(97, 147, 246);
// $secondary: #e9e9e9;

// $mainContent: #ffffff;

// $search: $primary;
// $card: #f4eeee;

// $color-t1: #ffffff;
// $color-t2: #1e1c1c;
// $color-t3: #2a2929;

// $color-p1: #2e2a2a;
// $color-p2: #848484;
// $size-p1: 0.85rem;
// $size-p2: 0.7rem;

// $tabBar: #39f;
// $tabs: #ffffff;
// $scroll: $primary;

$primary: #141414;
$secondary: #8a8a8a;

$mainContent: #1e1e1e;

$search: #2b2b2b;
$card: #2d2d2d;

$color-t1: #ffffff;
$color-t2: #dcd2d2;
$color-t3: #d4cdcd;

$color-p1: #fff;
$color-p2: #777;
$size-p1: 0.85rem;
$size-p2: 0.7rem;

//课程卡片
$course-card-bg: #393636;
$course-indicator-color: #429a55;

$tabBar: #191717;
$tabs: #393636;
$scroll: #6d6565;

$tabBar: #1e1e1e;
$tabs: #2d2d2d;
$scroll: #565555;

//moroModule

$h-tabBar: 80px;
