@use './mixins/index.scss' as m; //导入mixins
* {
  // @include m.backgroundBlack;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family:
    宋体，黑体, 'Source Han Serif CN', 'Source Han Serif SC', serif, 'Noto Serif CJK SC', serif,
    'Microsoft YaHei', sans-serif;
}
body,
html,
#app {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  cursor: pointer;
}
