@use './mixins/index.scss' as m; //导入mixins
* {
  // @include m.backgroundBlack;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    宋体，黑体,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  width: 100%;
}

@media (min-width: 600px) {
  body {
    width: 600px;
    margin: 0;
  }
}
